.backgroundOne {
    background-color: #941400;
}

.text {
    color: azure;
}

.navColor {
    background-color: #6d0006;
}

.bgOneImg {
    background-image: url(../img/Stephen-Stange.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.bgTwoImg {
    background-image: url(../img/Charles-Xavier.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.backgroundTwo {
    background-color: #37373a;
}

.navColorTwo {
    background-color: #25252c;
}

.bgThreeImg {
    background-image: url(../img/Ryan-Reynolds.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.backgroundThree {
    background-color: #37373a;
}

.navColorThree {
    background-color: #25252c;
}