
.text {
    color: azure;
}

.bgOneImg {
    background-image: url(../img/Stephen-Stange.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.bgTwoImg {
    background-image: url(../img/Charles-Xavier.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.bgThreeImg {
    background-image: url(../img/Ryan-Reynolds.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.background {
    background-color: #37373a;
}

.navColor {
    background-color: #25252c;
}

.bgFourImg {
    background-image: url(../img/X-Men.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.bgFiveImg {
    background-image: url(../img/Jean-Grey.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.bgsixImg {
    background-image: url(../img/John-Wick.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}