
.text {
    color: azure;
}

.background {
    background-color: #37373a;
}

.navColor {
    background-color: #25252c;
}

.bgImgOne {
    background-image: url(../img/Jurassic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.bgImgTwo {
    background-image: url(../img/Loki.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.bgImgThree {
    background-image: url(../img/James-Logan.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}